body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 208, 194);
	}
header {
    background-color: orangered;
	color: #fff;
    text-align:center;
	padding: 20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
	}

header div{
    position: fixed;
    top: 20px;
    left: 20px;
}

main {
	padding: 20px;
    }

a {
    color:black;
    text-decoration: none;
    }
a:hover {
    color:green;
    }
a:active{
    color:blue;
    }

    div.polaroid {
		width: 35%;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 25px;
	  }
	  div.container {
		text-align: center;
		padding: 10px 20px;
	  }

      .img {
        display:flex;
        justify-content:space-around;
    }
    
    @media screen and (max-width:600px){
        .img{
            display:flex;
            flex-direction:column;
            justify-content: center;
            margin-bottom: 20px;
        }
    
    }

footer{
    background-color: orangered;
    color:white;
    padding: 1px; 
    text-align: center; 
    position:fixed;
    bottom:0;
    width:100%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    z-index: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-color:black;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: orangered;
}

.content {
    transition: margin-left .5s;
    padding: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
}

header div p{
    font-size: 20px;
    color:black;
    background-color: orangered;
    padding:20px;
    margin-top: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color:black;
}